@{
    ViewBag.Title = "Σχετικά";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div style="border: 3px solid; border-color: gray; margin-left: auto; margin-right: auto; padding: 0px; border-radius: 1em; background-color: #303030; ">
        <h2 style="color:white; text-align:center;">Η Εφαρμογή μας <img src="~/Images/logo.png" /></h2>
    </div>
    <hr />
    <p style="text-align:justify">
        Πρόκειται για μία ηλεκτρονική εφαρμογή όπου το κάθε στέλεχος (δικαιούχος), αφού έχει κάνει την εγγραφή του σε αυτή θα καταχωρεί τα στοιχεία των εξαρτωμένων μελών του, στα οποία θα θέλει να εκδώσει κάρτα εισόδου για τα Στρατιωτικά Πρατήρια και ΚΑΑΥ.
    </p>
    <hr />
</div>

