@{
    ViewBag.Title = "Έκπληξη!!!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="border: 3px solid; border-color: gray; margin-left: auto; margin-right: auto; padding: 0px; border-radius: 1em; background-color: #303030">
    <h2 style="color:white; text-align:center;">Οι Δημιουργοί</h2>
</div>
<hr />

<img class="img-thumbnail" src="~/Images/IMG_20170124_131838.jpg">




